*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navv{
 height: 60px;
 background-color: #0f1111;
 color: white;
 display: flex;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logoo{
    background-image: url("amazonlog.png");
    background-size: cover;
    height: 50px;
    width: 135px;
    /* border: 2px solid white */
    /* display: inline-block; */
}
.border{
    border:2px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
.locate{
  margin: 0px;
  padding: 0px;
}
